/* Variables */

$color-one: #0097e6; // light blue
$color-two: #f3dc10; // yellow
$color-three: #000000; // black
$color-main: #2c2c54;

 $font-text: 'Libre Baskerville', serif;
 $font-header: 'Lato', sans-serif;
 
 $transition: all 0.7s;

/* Global */

*, *::before, *::after {
        box-sizing: border-box;
}

body {
    font-family: $font-text;
    color: $color-main;
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 30px 0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-header;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
}

.btn:hover {
    background-position: 0 100%;
    color: #ffffff;
}

.btn-one {
    border-color: $color-two;
    color: #ffffff;
    background-color: $color-two;
    }

.btn-one:hover {
    color: $color-three;
    transition: $transition;
}

/* Splash & Navigation */

.splash {
    height: 100vh;
    position: relative;
    background-image: url("https://images.pexels.com/photos/6567971/pexels-photo-6567971.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.splash-inner {
    margin: auto;
    max-width: 80%;
}

.navigation {
    padding: 12px 0;
    font-family: $font-header;
    text-align: right;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        display: inline-block;
        margin: 0 36px 0 0;
        position: relative;
        ul {
            display: none;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        color: $color-two;
    }
    ul ul li {
        display: block;
        margin: 0 0 12px 0;
    }
    li:hover ul {
        display: block;
        text-align: center;
        position: absolute;
        background: #fff;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 0 0 0;
        a {
            color: $color-three;
            padding: 0 24px;
        }
        a:hover {
            color: $color-two;
            display: block;
        }
    }
}

.brand-name {
    font-family: 'Pattaya', sans-serif;
    font-size: 28px;
    color: $color-two;
    position: absolute;
    top: -25px;
    left: 90px;
}

.page-title {
    color: #ffffff;
    font-size: 80px;
    font-family: $font-header;
    margin: 10px 0;
}

.page-subtitle {
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
    font-style: italic;
    margin: 150px 0 10px 0;
}

/* Services */


.section-title {
    font-size: 45px;
    font-family: $font-header;
    margin: 0 0 5px 0;
}

.section-subtitle {
    font-size: 15px;
    color: grey;
    margin: 0 0 60px 0;
    font-style: italic;
}

.boxes-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-services {
    flex: 0 0 33.333%;
    position: relative;
    padding: 50px 10px;
    p {
    font-size: 14px;
    }
    
    p:first-of-type {
        font-weight: bolder;
    }
    .box-title {
        position: relative;
        font-family: $font-header;
        font-style: normal;
    }
    p {
        font-weight: lighter;
        color: grey;
        min-height: 100px;
        max-height: 100px;
        overflow: hidden;
    }
}

.box-icon {
    position: relative;
    color: $color-two;
    font-size: 50px;
    // :after {
    //     position: absolute;
    //     content: '';
    //     bottom: -24px;
    //     left: 50%;
    //     width: 100px;
    //     height: 100px;
    //     transform: translateX(-50%);
    //     border-radius: 50%;
    //     background: $color-one;
    // }
}

/* our portfolio */

.our-portfolio {
    background-color: rgb(238, 238, 238);
}

.boxes-parent {
    margin-bottom: 40px;
}

.box-portfolio {
    flex: 0 0 33.3%;
    position: relative;
    padding: 0 30px;
    min-height: 300px;
}

.portfolio-image {
    position: absolute;
    max-width: 70%;
    height: 70%;
    left: 55px;
}

// .portfolio-image:after {
//     position: absolute;
//     content: '';
//     left: 20px;
//     bottom: -20px;
//     width: 100%;
//     height: 100%;
//     background: $color-two;
//     opacity: 0.3;
//     transition: $transition;
//     :hover {
//         background: $color-one;            
//     }
// }

// .portfolio-image:hover:after {
//         background: $color-three;
//         transform: translate(-20px, -20px);
//     }

.portfolio-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-portfolio .portfolio-description {
    margin: 250px 0 0 0;
    padding: 1px;
    background-color: #fff;
    .skill-title {
        font-family: $font-header;
        margin: 5px 0;
        padding: 5px 0;
    }
    p {
        color:grey;
        font-style: italic;
        font-size: 14px;
        margin: 5px 0 15px 0;
    }
}

/* footer */

.page-footer {
    background: #ffffff;
    font-size: 12px;
    margin: 0 auto;
    padding: 48px 0;
    text-align: center;
}

.page-footer li {
    font-size: 0px;
    display: inline-block;
    
}

.page-footer i {
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: $color-three;
    line-height: 60px;
    color: #ffffff;
    border-radius: 50%;
    transition: $transition;
}

.page-footer i:hover {
    background: $color-one;
    background-image: linear-gradient(180deg, $color-one 50%, transparent 70%);
}

/* Media */

@media (max-width: 767px) {
    .boxes-parent {
        flex-direction: column;
        p {
            max-width: 70%;
        }
    }
    .portfolio-image {
        max-width: 100%;
        height: 150px;
        position: relative;
    }
    .box-portfolio .portfolio-description {
    padding: 36px 0;
    }
    .contact {
        li {
            margin: 0 auto;
            width: 90%;
            .my-info {
                text-align: center;
            }
        }
    }
}