/* Variables */

$color-one: #0097e6; // light blue
$color-two: #f3dc10; // yellow
$color-three: #000000; // black
$color-main: #2c2c54;

 $font-text: 'Libre Baskerville', serif;
 $font-header: 'Anton', sans-serif;
 
 $transition: all 0.7s;

/* Global */

*, *::before, *::after {
        box-sizing: border-box;
}

body {
    font-family: $font-text;
    color: $color-main;
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 30px 0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
}

.btn:hover {
    background-position: 0 100%;
    color: #ffffff;
}

.btn-one {
    border-color: $color-two;
    color: #ffffff;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
    }

.btn-one:hover {
    color: $color-two;
    transition: $transition;
}

/* Navigation */

.navigation {
    background: $color-one;
    padding: 12px 0;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        display: inline-block;
        margin: 0 36px 0 0;
        position: relative;
        ul {
            display: none;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        color: $color-two;
    }
    ul ul li {
        display: block;
        margin: 0 0 12px 0;
    }
    li:hover ul {
        display: block;
        text-align: center;
        position: absolute;
        background: #fff;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 0 0 0;
        a {
            color: $color-three;
            padding: 0 24px;
        }
        a:hover {
            color: $color-two;
            display: block;
        }
    }
}
 
/* Splash */

.splash {
    background: $color-one;
    color: $color-two;
    height: 500px;
    display: flex;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

.page-title {
    margin: 0;
    font-size: 72px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
}

.page-title span {
    font-family: $font-header;
}

.page-subtitle {
    margin: 24px 0;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}

/* Services */

.services {
    
}

.section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
}

.section-subtitle {
    font-size: 24px;
    margin: 0 0 12px 0;
}

.boxes-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-services {
    flex: 0 0 33.333%;
    position: relative;
    padding: 50px 10px;
    p {
    font-size: 14px;
    }
    
    p:first-of-type {
        font-weight: bolder;
    }
    .section-subtitle {
        position: relative;    
    }
    p:last-of-type {
        min-height: 100px;
        max-height: 100px;
        overflow: hidden;
    }
}

.box-icon {
    position: relative;
    color: $color-two;
    font-size: 50px;
    font-family: $font-header;
}

.btn-two {
    border-color: $color-two;
    color: $color-two;
    background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);
    transition: $transition;
    top: 220px;
}

.btn-three {
    border-color: $color-three;
    color: $color-three;
    background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
    transition: $transition;
    top: 220px;
}

.btn-four {
    border-color: $color-one;
    color: $color-one;
    background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
    transition: $transition;
    top: 220px;
}

/* our work */

.boxes-parent {
    margin-bottom: 40px;
}

.box-work {
    flex: 0 0 33.3%;
    position: relative;
    min-height: 300px;
}

.work-image {
    position: absolute;
    max-width: 50%;
    height: 100%;
}

.work-image:after {
    position: absolute;
    content: '';
    left: 20px;
    bottom: -20px;
    width: 100%;
    height: 100%;
    background: $color-two;
    opacity: 0.3;
    transition: $transition;
    :hover {
        background: $color-one;            
    }
}

.work-image:hover:after {
        background: $color-three;
        transform: translate(-20px, -20px);
    }

.work-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-work .work-description {
    padding: 36px 0 36px 55%;
    text-align: left;
    p:last-of-type {
    font-weight: bolder;
    }
}

.btn-five {
    border: none;
    margin: 36px 0;
    padding: 0;
    text-align: left;
}

.btn-five:hover {
    color: $color-three;
}

/* footer */

.page-footer {
    background: #ffffff;
    font-size: 12px;
    margin: 0 auto;
    padding: 48px 0;
    text-align: center;
}

.page-footer li {
    font-size: 0px;
    display: inline-block;
    
}

.page-footer i {
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: $color-three;
    line-height: 60px;
    color: #ffffff;
    border-radius: 50%;
    transition: $transition;
}

.page-footer i:hover {
    background: $color-one;
    background-image: linear-gradient(180deg, $color-one 50%, transparent 70%);
}

/* Media */

@media (max-width: 767px) {
    .boxes-parent {
        flex-direction: column;
        p {
            max-width: 70%;
        }
    }
    .work-image {
        max-width: 100%;
        height: 150px;
        position: relative;
    }
    .box-work .work-description {
    padding: 36px 0;
    }
    .contact {
        li {
            margin: 0 auto;
            width: 90%;
            .my-info {
                text-align: center;
            }
        }
    }
}